<!DOCTYPE html>
<html lang="en">
	{{ fileInclude 'src/accessible-components/head/head.html'
		path = 'home'
	}}
	<body>
		{{ fileInclude 'src/accessible-components/gtm-body/gtm-body.html' }}

		{{ fileInclude 'src/accessible-components/header/header.html' }}
		<main>
			{{ fileInclude 'src/accessible-components/hero/hero.html' }}

			{{ fileInclude 'src/accessible-components/featured-block/featured-block.html'
				block = this.featuredBlock
			}}

			{{ fileInclude 'src/accessible-components/information/information.html' }}
		</main>

		{{ fileInclude 'src/accessible-components/footer/footer.html' }}

		{{ fileInclude 'src/accessible-components/foot-assets/foot-assets.html'
			path = 'home'
			src = '/scripts'
			nodeModulesPath = '/'
		}}
	</body>
</html>

